.main{
  width: 100%;
  position: fixed;
  background-color: gray;
  height: 100vh;
}
.modal{
  width: 300px;
  height: 300px;
  background-color: whitesmoke;
  position: fixed;
  left: 50%;
  top: -500px;
  transform: translate(-50%,-50%);
  transition: 0.5s;
}
.active{
  top: 50%;
}


.en{
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 1px solid black;
  font-size: 25px;
}
.close{
  position: fixed;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  top: 0px;
}

